<%- include('header') %>




          <div class="container" style="min-height: 700px;">
            <div class="row">
              <div class="col-md-12">
                <h1>About Page</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti nemo ratione vero laudantium nisi blanditiis reiciendis, culpa dignissimos aspernatur dolore odio minima accusantium quo quidem repellat exercitationem, corporis nesciunt magnam. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse quidem alias id, inventore fugit dolorem vel dolore a iure sunt libero nihil optio! Aspernatur praesentium quam doloremque quos ipsam error! Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, mollitia repudiandae sint harum voluptatum numquam ea similique hic recusandae odit eligendi et, nihil, ullam unde atque non ratione doloribus animi?</p>
              </div>
            </div>
          </div>


         <%- include('footer') %>