<%- include('header') %>
          <div class="container" style="min-height: 700px;">
            <div class="row">
              <div class="col-md-12">
                <h1>Contact Page</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam consequatur animi reiciendis cupiditate unde eaque, illo quidem alias, dolorem debitis voluptates amet. Quam in tempore pariatur vitae, velit praesentium dolore.</p>
              </div>
            </div>
          </div>

<%- include('footer') %>