<div style="background-color: #003567;">
    <h2>This is Box</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti perspiciatis error voluptatibus ducimus laboriosam repellendus reprehenderit rem modi culpa. Ipsum maiores omnis facere asperiores tempora deserunt repudiandae. Nulla, asperiores ad.</p>
</div>