
<%- include('../header') %>
	
		
        
        
<div class="container" style="min-height:700px">
    <form action="/employee/save" method="post">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h4 class="text-center">Add New Employee</h4>
            <div class="form-group">
                <label for="">Full Name</label>
                <input type="text" name="full_name" class="form-control">
            </div>
            <div class="form-group">
                <label for="">Salary</label>
                <input type="text" name="salary" class="form-control">
            </div>
            

            <div class="form-group">
                <label for="">Gender</label>
                <Br />
                Male<input type="radio" name="gender" value="male">
                Female<input type="radio" name="gender" value="female">
            </div>
            <div class="form-group">
                <label for="">Contact</label>
                <input type="text" class="form-control" name="contact">
            </div>
            <Br />
            <Br />
            <input type="submit" value="Add" class="btn btn-primary" />
        </div>
    </div>
    </form>

</div>



<%- include('../footer') %>